body {
    color: rgba(249, 1, 1, 0.96);
    background: rgb(53, 48, 48);
    margin: 0px;
}

header {
    border-bottom: solid 2px rgb(255, 0, 0);
    padding: 20px;
    font-size: 32px;
    color: rgb(5, 5, 5);
}

section {
	background: rgb(255, 255, 255);
	padding-bottom: 80px;
	padding-top: 80px;
	display: flex;
	justify-content: center;
}

.chamada-texto {
    margin-right: 5%;
}